.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 400px;
  font-size: 40px;
  margin-bottom: -30px;
  span {
    color: $green;
    font-weight: 1000;
  }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid $green;
  white-space: nowrap;
  margin: 0 100;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.container {
  display: inline-block;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $green; }
}
