.projects {
  padding-top: 150px;
  margin: 0 25px;
}

.main_projects {
  margin-bottom: 70px;
  .blurb {
    text-align: center;
    margin: auto;
    font-family: $font-sans;
    font-weight: 300;
    font-size: 16px;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    color: $mint;
    p {
      margin-bottom: 0px;
    }
  }
  ul {
    list-style: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin-top: 20px;
    text-align: center;
    @media screen and (min-width: 900px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
    li {
      color: $spearmint;
      background-color: #7cd4b70c;
      border: 1px solid $teal;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: center;
      gap: 10px;
      div {
        height: 150px;
        width: 100%;
        @media screen and (min-width: 900px) {
          height: 200px;
        }
      }
    }
  }
}

.project_blurb {
  font-family: $font-sans;
  width: 80%;
  color: $mint;
}

.project_img {
  background-position: top;
  background-size: cover;
  cursor: pointer;
}

#blankimg {
  background-color: $teal;
}
#mod1-1 {
  background-image: url(../../images/mod1-1.jpg);
}
#mod1-2 {
  background-image: url(../../images/mod1-2.jpg);
}
#mod2-1 {
  background-image: url(../../images/mod2-1.jpg);
}
#mod2-2 {
  background-image: url(../../images/mod2-2.jpg);
}
#mod2-3 {
  background-image: url(../../images/mod2-3.jpg);
}
#mod3-1 {
  background-image: url(../../images/mod3-1.jpg);
}
#mod3-2 {
  background-image: url(../../images/mod3-2.jpg);
}
#mod3-3 {
  background-image: url(../../images/mod3-3.jpg);
}
#mod4 {
  background-image: url(../../images/mod4.jpg);
}

.imgcontainer {
  position: relative;
  width: 50%;
}

.project_img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.4s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgcontainer:hover .image {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.text {
  background-color: #20272cd5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    color: $spearmint;
    text-decoration: none;
    font-size: 50px;
    &:hover {
      transform: translate(0px, -3px);
      transition: ease-in-out 0.2s;
      color: $mint;
    }
  }
}

.fa-arrow-up-right-from-square {
  font-size: 45px;
}

.blankimgcontainer {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4875663a;
  a {
    text-decoration: none;
    color: $spearmint;
    font-size: 40px;
    &:hover {
      transform: translate(0px, -3px);
      transition: ease-in-out 0.2s;
      color: $mint;
    }
  }
}