.nav {
  margin-top: -17px;
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    li {
      background-color: $beige;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px 20px 0 0;
      border: 1px solid $brown;
    }
  }
}
