.page {
  max-width: 1584px;
  height: 100vh;
  margin: auto;
}

.main_title {
  font-weight: 800;
  font-size: 22px;
  color: $offwhite;
  background-color: $blue;
  padding: 5px 10px;
  border-radius: 0 10px 10px 0;
  margin-left: -30px;
}
