@import 'core/reset';
@import 'core/var';

@import 'layout/main_page';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/nav';
@import 'layout/main_main';
@import 'layout/main_about';
@import 'layout/main_projects';
@import 'layout/footer';

:root {
  background-color: $darkgrey;
  font-family: $font-serif;
  color: $spearmint;
  scroll-behavior: smooth;
}